main {
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

h1 {
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  padding-top: 5vw;
}
h2 {
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  padding-bottom: 12vw;
}

.cafe {
  font-size: 1.6rem;
  padding-bottom: 0;
}

.cafe_tekst {
  display: flex;
  place-content: center;
  text-align: center;
  padding-bottom: 20px;
}

.knap_vov {
  background-color: #430a08;
  color: white;
  cursor: pointer;
}

.film_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: space-around;
}

section {
  padding-bottom: 10vw;
}

.film_section {
  margin: 0 -9999rem;
  padding: 0 9999rem;
  background: #430a08;
}

.film_wrapper {
  padding: 20px;
  margin: 40px;
}

.film_wrapper h3 {
  color: white;
}

.film_wrapper p {
  color: white;
}

.diasshow_container {
  margin: auto;
  overflow: hidden;
}

.film_section p {
  display: none;
}

/*media 768 - 1200*/
