main {
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

h1 {
  text-align: center;
  justify-content: center;
  font-size: 2.5rem;
}
h2 {
  text-align: center;
  justify-content: center;
  font-size: 1.2rem;
  padding-bottom: 12vw;
}

#overskrift {
  margin: -2vw;
  margin-top: -4vw;
}

/*sektion 3 - cafe */

.cafe {
  font-size: 1.6rem;
  padding-bottom: 0;
}

.cafe_tekst {
  display: flex;
  place-content: center;
  text-align: center;
  padding-bottom: 20px;
}

.knap_vov {
  background-color: #ab1500;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  margin-top: 1vw;
  width: 40vw;
  height: 4vw;
}

.knap_vov a {
  font-family: futura-pt, sans-serif;
}

/*sektion 2 - film */

#film_h2 {
  color: white;
  padding-top: 5vw;
  font-size: 1.5rem;
  padding-bottom: 1vw;
}

.film_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-content: space-around;
  padding: 20px;
  margin: 40px;
}

.film_section {
  margin: 0 -9999rem;
  padding: 0 9999rem;
  background: #430a08;
}

.film_wrapper h3 {
  color: white;
  font-size: 1.2rem;
}

.film_wrapper p {
  color: white;
}

.film_section p {
  display: none;
}

.Bestil {
  background-color: #ab1500;
  border: none;
  color: white;
  padding: 14px 9px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 15px;
  margin: 12px 0px;
  cursor: pointer;
  border-radius: 10px;
}

/*sektion 1 - dias og billet */

.diasshow_container {
  margin: auto;
  overflow: hidden;
  position: relative;
}

#prevBtn,
#nextBtn {
  background-color: #430a08;
  border: none;
  color: white;
  font-size: 2rem;
  position: relative;
  width: 100%;
  z-index: 10;
}

#prev_nxt_btn {
  margin-top: -5vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  z-index: 10;
}

#prevBtn:hover,
#nextBtn:hover {
  cursor: pointer;
  background-color: #ab1500;
}

.dato {
  border-radius: 12px;
  width: 11vw;
  height: 9vw;
  background-color: #430a08;
  color: white;
  border: none;
  position: absolute;
  margin-left: 1vw;
  top: 13.5vw;
  font-family: futura-pt, sans-serif;
}

#d2 {
  left: 13vw;
}

#d3 {
  left: 26vw;
}

#d4 {
  left: 38.5vw;
}

#d5 {
  left: 51.5vw;
}

#d6 {
  left: 64.5vw;
}

#d7 {
  left: 77vw;
}

.dato:hover {
  background-color: #ab1500;
}

#knapper_film {
  margin-top: 10vw;
  background-image: url(../img/filmrulle.svg);
  background-size: contain;
  height: 30vw;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/*media 768*/

@media (min-width: 768px) {
  .film_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: space-around;
  }

  .film_section p {
    display: block;
  }

  .film_wrapper h3 {
    color: white;
    font-size: 1.4rem;
  }

  h1 {
    text-align: center;
    justify-content: center;
    font-size: 4.5rem;
  }
  h2 {
    text-align: center;
    justify-content: center;
    font-size: 2.1rem;
    padding-bottom: 12vw;
  }

  .knap_vov {
    font-size: 1rem;
    background-color: #430a08;
    color: white;
    cursor: pointer;
  }

  #prevBtn,
  #nextBtn {
    background-color: #430a08;
    border: none;
    color: white;
    font-size: 4rem;
    position: relative;
    width: 100%;
  }

  .vester img {
    height: 50vw;
  }
}

/*media 1200*/

@media (min-width: 1200px) {
  .film_wrapper h3 {
    color: white;
    font-size: 2rem;
  }

  section {
    padding-top: 2vw;
  }

  h1 {
    text-align: center;
    justify-content: center;
    font-size: 7rem;
  }
  h2 {
    text-align: center;
    justify-content: center;
    font-size: 3.3rem;
    padding-bottom: 4vw;
  }

  #film_h2 {
    text-align: center;
    justify-content: center;
    font-size: 3rem;
  }

  .cafe {
    font-size: 3rem;
    padding-bottom: 0;
  }

  #knapper_film {
    margin-top: 0;
  }

  #prevBtn,
  #nextBtn {
    background-color: #430a08;
    border: none;
    color: white;
    font-size: 4rem;
    position: relative;
    width: 100%;
    top: 4vw;
  }

  .dato {
    border-radius: 12px;
    width: 8vw;
    height: 6vw;
    background-color: #430a08;
    color: white;
    border: none;
    position: absolute;
    margin-left: 1vw;
    top: 14vw;
    font-family: futura-pt, sans-serif;
  }

  #d2 {
    left: 9vw;
  }

  #d3 {
    left: 18vw;
  }

  #d4 {
    left: 27vw;
  }

  #d5 {
    left: 36vw;
  }

  #d6 {
    left: 45vw;
  }

  #d7 {
    left: 54vw;
  }

  .knap_vov {
    width: 35vw;
    height: 4vw;
    font-size: 1.5rem;
  }

  .vester img {
    height: 35vw;
  }
}

/*mellemrum over titler på mobile*/
