* {
  box-sizing: border-box;
  margin: 0;
}

img,
video {
  display: block;
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "Broadway";
  src: url(fonts/broadway_regular-webfont.woff2) format(woff2);
}

/********** Header ***********/

header {
  position: sticky;
  z-index: 100;
  top: 0;
  padding: 1rem 1.5rem;
  gap: 20px;
  background-color: #430a08;
}

#menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  font-size: 1.4rem;
}

header img {
  max-width: 100px;
}

li {
  font-family: "Broadway";
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Broadway";
  color: white;
}

a:hover {
  text-shadow: 1px 1px red;
}

/******** Fonte *********/

h1 {
  font-family: "Broadway";
}

h2 {
  font-family: "Broadway";
}

h3,
h4,
p {
  font-family: futura-pt, sans-serif;
}

/********* Footer *********/

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding: 25px;
}

.footer_left {
  border-left: 1px solid white;
  padding: 10px;
}

.footer_middle {
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding: 10px;
}

.footer_right {
  border-right: 1px solid white;
  padding: 10px;
}
