h1 {
  text-align: center;
  grid-column: 2;
  padding-block: 20px;
}

/*
  /* .film,
  .film2 {
    padding-left: 7%;
    padding-top: 10%;
    gap: 25px;
  }

  .film img,
  .film2 {
    width: 100%;
  }

  .film p,
  .film2 {
    padding-top: 25px;
  } */

.film2 {
  background-color: #430a08;
}

.film2 p,
.film2 h2,
.film2 h3 {
  color: white;
}

.bold {
  font-weight: 700;
}

h2 {
  padding-top: 7%;
}

h3 {
  padding-bottom: 5%;
}

@media (min-width: 1200px) {
  h1 {
    text-align: center;
    grid-column: 2;
    padding-block: 20px;
  }

  .film,
  .film2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-left: 7%;
    padding-top: 10%;
    gap: 25px;
  }

  .film img,
  .film2 {
    width: 100%;
  }

  .film p,
  .film2 {
    padding-top: 25px;
  }

  .film2 {
    background-color: #430a08;
  }

  .film2 p,
  .film2 h2,
  .film2 h3 {
    color: white;
  }

  .bold {
    font-weight: 700;
  }

  .film .film2 h2 {
    padding-top: 0%;
  }

  .film .film2 h3 {
    padding-bottom: 5%;
  }
}
